In [23]:
#Import pandas
import pandas as pd
from pathlib import Path

In [24]:
#read csv
df = pd.read_csv("Homework_02-Python_Instructions_PyBank_Resources_budget_data.csv")
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [25]:
df.tail()

        Date  Profit/Losses
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

In [26]:
#The total number of months included in the dataset.
df.describe
len(df)
df["Date"].nunique()
#3 different commands to reach solution. 86 months in dataset.

86

In [27]:
total_months = len(df)
total_months

86

In [28]:
#The net total amount of Profit/Losses over the entire period.
total= df["Profit/Losses"].sum()
print(total)

38382578

In [29]:
#The net total amount of Profit/Losses over the entire period via for loop:
total1 = 0
for x in df["Profit/Losses"]:
    total1 += x
print(total1)

38382578

In [30]:
#The average of the changes in Profit/Losses over the entire period via for loop:

average_changes = []

for item in range(1,len(df)):
    changes = df["Profit/Losses"][item]-df["Profit/Losses"][item-1]
    average_changes.append(changes)
    
total2 = round(sum(average_changes)/len(average_changes),2)
print(total2)

-2315.12

In [31]:
#The average of the changes in Profit/Losses over the entire period via pandas:
total= df["Profit/Losses"].sum()
changes = df["Profit/Losses"] - df["Profit/Losses"].shift()
average_changes2 = round(changes.mean(),2)
average_changes2

-2315.12

In [32]:
#The greatest increase in profits (date and amount) over the entire period, using variable "changes" from previous cell .max Pandas function.
changes = df["Profit/Losses"] - df["Profit/Losses"].shift()
max_value = changes.max()
max_value

1926159.0

In [33]:
#In Order to locate date, first add column to original dataframe of all the changes in profits and losses, 
#then use the .loc function to locate exactly where the greatest increase in profits occured in the dataframe. 
# The result= Index 25, February-2012 the greatest increase in profits was "1926159.0"
PnL_Changes = df["Profit/Losses"] - df["Profit/Losses"].shift()
PnL_Changes
df["PnL_Changes"] = PnL_Changes
df
df.loc[df['PnL_Changes'] == 1926159.0].head()

        Date  Profit/Losses  PnL_Changes
25  Feb-2012        1170593    1926159.0

In [34]:
#The greatest decrease in profits amount using for loop 
df["PnL_Changes"] 
greatest_decrease = 0
for i in df["PnL_Changes"]:
    if i == 0:
        greatest_decrease = i
    elif greatest_decrease > i:
        greatest_decrease = i
        
print(greatest_decrease)

#The greatest increase in profits amount using for loop 
df["PnL_Changes"] 
greatest_increase = 0
for i in df["PnL_Changes"]:
    if i == 0:
        greatest_increase = i
    elif greatest_increase < i:
        greatest_increase = i
        
print(greatest_increase)

df.head(26)

-2196167.0
1926159.0

        Date  Profit/Losses  PnL_Changes
0   Jan-2010         867884          NaN
1   Feb-2010         984655     116771.0
2   Mar-2010         322013    -662642.0
3   Apr-2010         -69417    -391430.0
4   May-2010         310503     379920.0
5   Jun-2010         522857     212354.0
6   Jul-2010        1033096     510239.0
7   Aug-2010         604885    -428211.0
8   Sep-2010        -216386    -821271.0
9   Oct-2010         477532     693918.0
10  Nov-2010         893810     416278.0
11  Dec-2010         -80353    -974163.0
12  Jan-2011         779806     860159.0
13  Feb-2011        -335203   -1115009.0
14  Mar-2011         697845    1033048.0
15  Apr-2011         793163      95318.0
16  May-2011         485070    -308093.0
17  Jun-2011         584122      99052.0
18  Jul-2011          62729    -521393.0
19  Aug-2011         668179     605450.0
20  Sep-2011         899906     231727.0
21  Oct-2011         834719     -65187.0
22  Nov-2011         132003    -702716.0
23  Dec-2011         309978     177975.0
24  Jan-2012        -755566   -1065544.0
25  Feb-2012        1170593    1926159.0

In [35]:
#The greatest decrease in profits (date and amount) over the entire period, using .max Pandas function.
changes = df["Profit/Losses"] - df["Profit/Losses"].shift()
min_value = changes.min()
min_value

-2196167.0

In [36]:
#Locating date for greatest decrease in profits
PnL_Changes = df["Profit/Losses"] - df["Profit/Losses"].shift()
PnL_Changes
df["PnL_Changes"] = PnL_Changes
df
df.loc[df['PnL_Changes'] == -2196167.0].head()

        Date  Profit/Losses  PnL_Changes
44  Sep-2013       -1196225   -2196167.0

In [37]:
#The greatest decrease in profits (date and amount) over the entire period via for loop

In [38]:
print("Financial Analysis")
print("----------------------")
print(f"Total Months: {total_months}")
print(f"Total: ${total}")
print(f"Average Change: ${total2}")
print(f"Greatest Increase in Profits: Feb-2012 $({max_value})")
print(f"Greatest Decrease in Profits: Sep-2013 $({min_value})")

Financial Analysis
----------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 $(1926159.0)
Greatest Decrease in Profits: Sep-2013 $(-2196167.0)

In [40]:
output_path = Path("PyBank")

with open(output_path, 'w') as file:
    file.write(f"Financial Analysis\n")    
    file.write(f"----------------------------\n")
    file.write(f"Total Months: {total_months} \n")
    file.write(f"Total: ${total}\n")
    file.write(f"Average Change: $${total2}\n")
    file.write(f"Greatest Increase in Profits: Feb-2012 $({max_value}) \n")
    file.write(f"Greatest Decrease in Profits: Sep-2013 $({min_value}) \n")